* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
}

.page {
  width: 100rem;
  margin: 6.5rem auto 0rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 5.5rem;
}

ul {
  display: flex;
  gap: 4.8rem;

  margin: 0;
  padding: 0;
  list-style: none;
}
